<div class="py-5 px-5">
  <div class="row">
    <div>
      <h2><%= @product.name %></h2>
      <h2>¥<%= @product.price%>-</h2>
    </div>
    <div class="bd-example col-xs-12 col-sm-12 col-md-12 py-5 d-flex justify-content-center py-5">
      <div id="carouselExampleCaptions" class="carousel slide mx-auto " data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner text-center">
          <% @product.product_images.each_with_index do |image, index| %>  
            <div class="carousel-item <%= (index == 0) ? 'active' : '' %>">
              <img src="<%= image.url %>" class="d-block" alt="pics">
            </div>
          <% end %> 
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon"  aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="link text-center">
    <a href="<%= @product.url%>"><%= @product.url%></a>
  </div>
  
  <div class="text-center text-warning">
    <% if user_signed_in? %>
      <% if @likes.present? %>
        <%= link_to("/like/#{@product.id}/destroy" , {method: "post"}) do %>
          <h1><span><i class="fas fa-heart"></i></span></h1>
          <%= flash[:destroy] %>
        <% end %>
      <% else %>
        <%= link_to("/like/#{@product.id}/create" , {method: "post"}) do %>
          <h1><span><i class="far fa-heart"></i></span></h1>
          <%= flash[:create] %>
        <% end %>
      <% end %>
    <% end %>  
  </div>

  <div class="comments">
    <% @product_reviews.each do |product_review| %>
      <div>
        <h5 class="mt-0"><%= product_review.title %></h5>
        <div class="star-rating">
          <div id="star"><%= product_review.star_count %></div>
            <% if product_review.star_count == 5.0 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%>
            <% elsif product_review.star_count < 5.0 && product_review.star_count >= 4.5 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-half.png'%>
            <% elsif product_review.star_count < 4.5 && product_review.star_count >= 4.0 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-off.png'%>
            <% elsif product_review.star_count < 4.0 && product_review.star_count >= 3.5 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-half.png'%><%= image_tag 'star-off.png'%>
            <% elsif product_review.star_count < 3.5 && product_review.star_count >= 3.0 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%>
            <% elsif product_review.star_count < 3.0 && product_review.star_count >= 2.5 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-half.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%>
            <% elsif product_review.star_count < 2.5 && product_review.star_count >= 2.0 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-on.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%>
            <% elsif product_review.star_count < 2.0 && product_review.star_count >= 1.5 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-half.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%>
            <% elsif product_review.star_count < 1.5 && product_review.star_count >= 1.0 %>
              <%= image_tag 'star-on.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%>
            <% else product_review.star_count < 1.0 && product_review.star_count >= 0 %>
              <%= image_tag 'star-half.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%><%= image_tag 'star-off.png'%>
            <% end %>
        </div>
        <p><%= product_review.review %></p>
      </div>
    <% end %>
  </div>

</div>